.menu {
    padding: 12px 0;
}

.menu__list {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.menu__item a {
    color: var(--global);
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0.4px;
    transition: color 0.3 ease;
}

.menu__item a :hover {
    color: var(--gold-text-color);
}